@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format('woff2');
  }
}

@font-face {
  font-family: 'Gambarino';
  src: url('/fonts/Gambarino-Regular.woff2') format('woff2'),
       url('/fonts/Gambarino-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gambarino';
  src: url('/fonts/Gambarino-Bold.woff2') format('woff2'),
       url('/fonts/Gambarino-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}